
body {
  margin-top: 70px;
}

/* Coloring schemes that we'll deal with later. 

body {
  background-color: #363895;
  color: blue;
  border-color: #FFFFFF;
}

.navbar, .navbar-nav > li > a {
  background-color: #363895;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.active {
  background-color: #c7aa36;
}

*/