
body {
  max-height: 1080px; /* so that we don't build things beyond this size */
  margin-top: 70px;
}

.container {
  width: 100%;
}

/* Coloring schemes that we'll deal with later. 

body {
  background-color: #363895;
  color: blue;
  border-color: #FFFFFF;
}

.navbar, .navbar-nav > li > a {
  background-color: #363895;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.active {
  background-color: #c7aa36;
}

*/